# Remove things NOT needed by Tungestn
# Also to reduce the size of the kernel
# as without this it is too large

CONFIG_BPF_LSM=n
CONFIG_TASKS_RUDE_RCU=n
CONFIG_CGROUP_RDMA=n
CONFIG_CGROUP_MISC=n
CONFIG_RELAY=n
CONFIG_TRACEPOINTS=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_UPROBES=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_GCC_PLUGINS=n
CONFIG_FUNCTION_ALIGNMENT_8B=n
CONFIG_FUNCTION_ALIGNMENT=4
CONFIG_COMPAT_NETLINK_MESSAGES=n
CONFIG_XDP_SOCKETS=n
CONFIG_XDP_SOCKETS_DIAG=n
CONFIG_IPV6_MULTIPLE_TABLES=n
CONFIG_IPV6_SUBTREES=n
CONFIG_IPV6_SEG6_LWTUNNEL=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_BPF_STREAM_PARSER=n
CONFIG_STREAM_PARSER=n
CONFIG_FIB_RULES=n
CONFIG_WEXT_CORE=n
CONFIG_WEXT_PROC=n
CONFIG_NL80211_TESTMODE=n
CONFIG_CFG80211_WEXT=n
CONFIG_LWTUNNEL=n
CONFIG_LWTUNNEL_BPF=n
CONFIG_MTK_TINYSYS_SCMI=n
CONFIG_DWMAC_IPQ806X=m
CONFIG_DWMAC_MESON=m
CONFIG_DWMAC_QCOM_ETHQOS=m
CONFIG_DWMAC_ROCKCHIP=m
CONFIG_DWMAC_SOCFPGA=m
CONFIG_DWMAC_STM32=m
CONFIG_DWMAC_SUNXI=m
CONFIG_DWMAC_SUN8I=m
CONFIG_DWMAC_IMX8=n
CONFIG_DWMAC_VISCONTI=m
CONFIG_MDIO_REGMAP=m
CONFIG_LIRC=n
CONFIG_CEC_NOTIFIER=m
CONFIG_NOUVEAU_PLATFORM_DRIVER=m
CONFIG_DRM_NOUVEAU_BACKLIGHT=m
CONFIG_DRM_EXYNOS5433_DECON=m
CONFIG_DRM_EXYNOS7_DECON=m
CONFIG_DRM_EXYNOS_DSI=m
CONFIG_DRM_EXYNOS_HDMI=m
CONFIG_DRM_EXYNOS_MIC=m
CONFIG_ROCKCHIP_VOP=m
CONFIG_ROCKCHIP_VOP2=m
CONFIG_ROCKCHIP_ANALOGIX_DP=m
CONFIG_ROCKCHIP_CDN_DP=m
CONFIG_ROCKCHIP_DW_HDMI=m
CONFIG_ROCKCHIP_DW_MIPI_DSI=m
CONFIG_ROCKCHIP_INNO_HDMI=m
CONFIG_ROCKCHIP_LVDS=m
CONFIG_DRM_RCAR_USE_CMM=m
CONFIG_DRM_RCAR_USE_LVDS=m
CONFIG_DRM_RCAR_USE_MIPI_DSI=m
CONFIG_DRM_RCAR_VSP=m
CONFIG_DRM_RCAR_WRITEBACK=m
CONFIG_DRM_MSM_GPU_STATE=m
CONFIG_DRM_MSM_MDSS=m
CONFIG_DRM_MSM_MDP4=m
CONFIG_DRM_MSM_MDP5=m
CONFIG_DRM_MSM_DPU=m
CONFIG_DRM_MSM_DP=m
CONFIG_DRM_MSM_DSI=m
CONFIG_DRM_MSM_DSI_28NM_PHY=m
CONFIG_DRM_MSM_DSI_20NM_PHY=m
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=m
CONFIG_DRM_MSM_DSI_14NM_PHY=m
CONFIG_DRM_MSM_DSI_10NM_PHY=m
CONFIG_DRM_MSM_DSI_7NM_PHY=m
CONFIG_DRM_MSM_HDMI=m
CONFIG_DRM_MSM_HDMI_HDCP=m
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=m
CONFIG_DRM_PANEL_STARTEK_KD070FHFID078=m
CONFIG_UHID=m
CONFIG_HID_BPF=m
CONFIG_TYPEC=m
CONFIG_TYPEC_TCPM=m
CONFIG_TYPEC_TCPCI=m
CONFIG_TYPEC_RT1711H=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_TYPEC_DP_ALTMODE=m
CONFIG_CROS_EC_TYPEC=m
CONFIG_CROS_TYPEC_SWITCH=m
CONFIG_NFSD=n
CONFIG_SECURITY_NETWORK=n
CONFIG_SECURITY_PATH=n
CONFIG_DEBUG_INFO_BTF=n
CONFIG_PAHOLE_HAS_SPLIT_BTF=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_DEBUG_INFO_BTF_MODULES=n
CONFIG_NOP_TRACER=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_CALL_OPS=n
CONFIG_RING_BUFFER=n
CONFIG_EVENT_TRACING=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_TRACING=n
CONFIG_GENERIC_TRACER=n
CONFIG_FTRACE=n
CONFIG_FUNCTION_TRACER=n
CONFIG_FUNCTION_GRAPH_TRACER=n
CONFIG_FUNCTION_GRAPH_RETVAL=n
CONFIG_DYNAMIC_FTRACE=n
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_DYNAMIC_FTRACE_WITH_CALL_OPS=n
CONFIG_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_FUNCTION_PROFILER=n
CONFIG_FTRACE_SYSCALLS=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_PROBE_EVENTS_BTF_ARGS=n
CONFIG_KPROBE_EVENTS=n
CONFIG_UPROBE_EVENTS=n
CONFIG_BPF_EVENTS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_PROBE_EVENTS=n
CONFIG_BPF_KPROBE_OVERRIDE=n
CONFIG_FTRACE_MCOUNT_RECORD=n
CONFIG_FTRACE_MCOUNT_USE_PATCHABLE_FUNCTION_ENTRY=n
CONFIG_USER_EVENTS=n
CONFIG_FUNCTION_ERROR_INJECTION=n
