[Unit]
Description=Attaching uart to bluetooth
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/silex-uart/silex-uart.sh start
ExecStop=/bin/bash  /usr/share/silex-uart/silex-uart.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

